<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <h1>Prediction</h1>
         <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('data')}}" method="post">
            <!-- <input type="text" name="Year" placeholder="Year" required="required" /><br> -->
            <input type="text" name="ENGINE_SIZE" placeholder="ENGINE SIZE" required="required" /><br>
            <input type="text" name="CYLINDERS" placeholder="CYLINDERS" required="required" /><br>
            <input type="text" name="FUEL_CONSUMPTION" placeholder="FUEL CONSUMPTION" required="required" /><br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
     <h2>
        THE prediction is {{results}}
     </h2>
</body>
</html>